{% load i18n static %}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="#" class="app-brand-link">
          <img class="app-brand-logo demo" src="{% static 'assets/img/brand/logo.png' %}" alt="Logo" />
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item">
            <a href="{% url 'home' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Hme">Dashboards</div>
            </a>
        </li>

        <!-- assets areas -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Apps</span></li>

        <!-- Layouts -->
        <li class="menu-item">
          <a href="{% url 'allapps' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-layout"></i>
              <div data-i18n="Apps">Apps</div>
          </a>
        </li>
      
        <li class="menu-item">
            <a href="{% url 'placement' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-sticker"></i>
                <div data-i18n="Tags">Placement</div>
            </a>
        </li>
      
        <li class="menu-item">
            <a href="{% url 'network' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-network-chart"></i>
                <div data-i18n="Tags">Ad Network</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="{% url 'source' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-list-ul"></i>
                <div data-i18n="Tags">Add Source Network</div>
            </a>
        </li>
      
      
    </ul>
</aside>
<!-- / Menu -->