{% extends "../../app.html" %}
{% load i18n static %}

{% block title %}
placement
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="mb-3">
        <label class="form-label">App sorting with placement</label>
        <select id="apps_select" class="form-select">
            {% for app in apps %}
                <option value="{{ app.id }}">{{ app.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" onclick="event.preventDefault(); selectapps($('#apps_select :selected').val())" data-bs-toggle="modal" data-bs-target="#appsmodal">
            App sorting with placement
        </button>
    </div>

    <!-- Create App -->
    <div class="card mb-">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Add New Placement</h5>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="mb-3 row">
                    <label for="id_title" class="col-md-2 col-form-label">{{ form.title.label }}</label>
                    <div class="col-md-10">
                        {{ form.title }}
                        {{ form.title.errors }}
                    </div>
                </div>


                <div class="mb-3 row">
                    <label for="id_added_by" class="col-md-2 col-form-label">{{ form.added_by.label }}</label>
                    <div class="col-md-10">
                        {{ form.added_by }}
                        {{ form.added_by.errors }}
                    </div>
                </div>


                <div class="mb-3 row">
                    <label for="id_app" class="col-md-2 col-form-label">{{ form.app.label }}</label>
                    <div class="col-md-10">
                        {{ form.app }}
                        {{ form.app.errors }}
                    </div>
                </div>


                
        
                <button type="submit" class="btn btn-primary">
                    <span class="tf-icons bx bx-pie-chart-alt me-1"></span>Save
                </button>
            </form>
        </div>
        
        
        
    </div>
    <!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">All Apps</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr#</th>
                        <th>Placement</th>
                        <th>Index</th>
                        <th>Added On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for placement in placements %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <strong>{{ placement.title }}</strong>
                        </td>
                        <td>{{ placement.index }}</td>
                        
                        </td>
                        <td>{{ placement.created_at }}</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                   <a class="dropdown-item" href="{% url 'update-placement' placement.id %}">Update</a>
                                   <a class="dropdown-item" href="{% url 'delete-placement' placement.id %}">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->


</div>

<div class="modal fade" id="appsmodal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">Placement Sorting</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody id="sortable-modal">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="saveOrderBtn" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- / Content -->
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    function selectapps(app_id) {
        console.log("Selected App: ", app_id);
        let _url = "{% url 'get_placement' %}";

        $.ajax({
            url: _url,
            type: "POST",
            data: {
                'app_id': app_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                console.log("Server Response:", response);
                $("#sortable-modal").sortable();
                $('#sortable-modal').empty();

                // Append data
                $.each(response.placement, function(index, placement) {
                    $('#sortable-modal').append('<tr data-id="' + placement.id + '">' +
                        '<td>' + (placement.index) + '</td>' +
                        '<td>' + placement.title + '</td>' +
                        '</tr>');
                });
            }
        });
    }

    $(document).ready(function() {
        // Use a more specific identifier for the "Save Changes" button
        $('#saveOrderBtn').on('click', function() {
            // Get the sorted order of placement
            var sortedPlacement = [];
            $('#sortable-modal tr').each(function() {
                sortedPlacement.push($(this).data('id'));
            });
            console.log('Sorted Plaement IDs:', sortedPlacement);
            //Send the sorted order to the server for saving
            var _url = "{% url 'save_sorted_placement' %}";
            data = JSON.stringify(sortedPlacement);

            $.ajax({
                url: _url,
                type: "POST",
                data: {
                   // sortedPlacement: data,
                    sorted_placements: data,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    swal("Status", "sorted Placement Updated", "success");
                    location.reload();
                },
                error: function(xhr, text, err) {
                    console.log(xhr, text, err);
                }
            });
            $('#parentmodal').modal('hide');
        });
    });
</script>
{% endblock js %}


    