{% extends "../../app.html" %}
{% load i18n static %}

{% block title %}
Source
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Create Source -->
    <div class="card mb-">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Source</h5>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
    
                <div class="mb-3 row">
                    <label for="id_app" class="col-md-2 col-form-label">{{ form.app.label }}</label>
                    <div class="col-md-10">
                        {{ form.app }}
                        {{ form.app.errors }}
                    </div>
                </div>
    
                <div class="mb-3 row">
                    <label for="id_network" class="col-md-2 col-form-label">{{ form.network.label }}</label>
                    <div class="col-md-10">
                        {{ form.network }}
                        {{ form.network.errors }}
                    </div>
                </div>
    
                <div class="mb-3 row">
                    <label for="id_placement" class="col-md-2 col-form-label">{{ form.placement.label }}</label>
                    <div class="col-md-10">
                        {{ form.placement }}
                        {{ form.placement.errors }}
                    </div>
                </div>
    
                <div class="mb-3 row">
                    <label for="id_paragraphes" class="col-md-2 col-form-label">{{ form.paragraphes.label }}</label>
                    <div class="col-md-10">
                        {{ form.paragraphes }}
                        {{ form.paragraphes.errors }}
                    </div>
                </div>
    
                <button type="submit" class="btn btn-primary">
                    <span class="tf-icons bx bx-pie-chart-alt me-1"></span>Save
                </button>
            </form>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Basic Bootstrap Table -->
        <div class="card">
            <h5 class="card-header">All Source</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr#</th>
                            <th>App</th>
                            <th>NETWORK</th>
                            <th>PLACEMENT</th>
                            <th>Paragraph</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% for source in sources %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <strong>{{ source.app }}</strong>
                            </td>
                            <td>{{ source.network }}</td>
                            <td>{{ source.placement }}</td>
                            <td>{{ source.paragraphes}}</td>
                            <td>{{ source.created_at }}</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="{% url 'update_source' source.id %}">Update</a>
                                       <a class="dropdown-item" href="{% url 'delete_source' source.id %}">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
        <!--/ Basic Bootstrap Table -->
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        $('#id_app').change(function () {
            var app_id = $(this).val();

            // Get Placement Options
            $.ajax({
                url: '{% url 'get_placement_options' %}',
                data: {
                    'app_id': app_id
                },
                dataType: 'json',
                success: function (data) {
                    var options = '<option value="">---------</option>';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].id + '">' + data[i].title + '</option>';
                    }
                    $('#id_placement').html(options);
                }
            });

            // Get Network Options
            $.ajax({
                url: '{% url 'get_network_options' %}',
                data: {'app_id': app_id},
                dataType: 'json',
                success: function (data) {
                    var options = '<option value="">---------</option>';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].id + '">' + data[i].title + '</option>';
                    }
                    $('#id_network').html(options);
                }
            });
        });
    });
</script>
{% endblock js %}
